# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb
*.egg-info/
*.egg
*.manifest
*.spec

# Build / distribution
build/
dist/
wheels/
*.whl
*.lock

# Virtual environments
.venv/
env/
venv/

# Environment variables
.env

# Logs
*.log

# IDE / editor settings
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

